#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_install:
	dh_auto_install
	# Install the desktop file
	mkdir -p debian/usb-connection-information/usr/share/applications
	cp debian/usb-connection-information.desktop debian/usb-connection-information/usr/share/applications/
	
	# Install the icon
	mkdir -p debian/usb-connection-information/usr/share/icons/hicolor/scalable/apps
	cp debian/usb-connection-information.svg debian/usb-connection-information/usr/share/icons/hicolor/scalable/apps/
	
	# Install man page
	mkdir -p debian/usb-connection-information/usr/share/man/man1
	cp debian/usb-connection-information.1 debian/usb-connection-information/usr/share/man/man1/

# Let dh_python3 handle the entry point creation automatically
# override_dh_fixperms:
# 	dh_fixperms
# 	chmod 755 debian/usb-connection-information/usr/bin/usb-connection-information 