[Desktop Entry]
Version=1.0
Type=Application
Name=USB Connection Information
GenericName=USB Device Monitor
Comment=Monitor USB devices in system tray
Exec=usb-connection-information
Icon=usb-connection-information
Terminal=false
Categories=System;Monitor;HardwareSettings;Utility;
Keywords=usb;device;monitor;hardware;system;connection;information;
StartupNotify=true 